@charset "UTF-8";

html, body{
	background-color: #f5f5f5;
	height: 100%;
	position: relative;
	margin-top: 0px;
}

#rootDiv {
	box-sizing: border-box;
	width: 600px;
	height: 100%;
	margin: 0 auto;
	background-color: #fff;
}
#wrapDiv{
	padding-top: 20px;
	height: 470px;
}

#hearder{
	width: 440px;
    margin: 0 auto;
    padding: 105px 0 0;
    position: relative;
}

#topDiv{
	height: 50px;
}
#titleTr {
	background-color: #F1F1F3;
}
#boardTitle{
	display: inline;
}
#filterDiv{
	box-sizing: border-box;
	float: right;
}
.filterForm{
	margin-top: 20px;
	margin-bottom: 0px;
}
#titleTh {
	width: 400px;
}

#writerTh {
	width: 100px;
}

#dateTh {
	width: 100px;
}

#viewCountTh {
	width: 100px;
}

.infoTd {
	text-align: center;
	color: #848484;
}

.subject {
	padding-left: 20px;
}

#pagemoveDiv {
	margin-top: 20px;
}

#btnDiv {
	text-align: center;
}

.pageBtn{
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #585858;
	font-weight: bold;
}
.moveBtn, .filterBtn{
	height: 25px;
	background-color: #FFFFFF;
	border: 1px solid #A4A4A4;
	font-weight: bold;
}
#selectPage{
	border: 1px solid #848484;
	color: red;
}

.boardSelect{
	text-decoration: none;
	color: black;
}

table {
	width: 100%;
	border-top: 1px solid #8C8C8C;
	border-bottom: 1px solid #8C8C8C;
	border-collapse: collapse;
}

th {
	font-size: 14px;
	height: 30px;
	border-bottom: 1px solid #8C8C8C;
}

td {
	font-size: 14px;
	height: 30px;
	border-top: 1px solid #D5D5D5;
}

#cre_board {
	float: right;
}